/* Setting global styling */
body {
    /* TODO: Add background and uncomment/change padding */
    padding: 40px 40px 40px 40px;
    /* background-color: red; */
    background-image: url('https://images.pexels.com/photos/2004161/pexels-photo-2004161.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

/* Header settings */
div.header {
    border: 2dpx solid black;
    
    /* background-color: black; */
    background-image: url('https://images.pexels.com/photos/785429/pexels-photo-785429.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    color: silver;

    padding: 15px 15px 30px 80px;
}

.header > h1, h2 {
    font-family: DM Serif Display;
    src: url(https://fonts.google.com/specimen/DM+Serif+Display?category=Serif,Sans+Serif,Monospace&query=serif#standard-styles);
}

.header > p {
    font-family: 'Times New Roman', Times, serif;
}
/* End of header settings */


/* Main information settings */
div.main_information {
    /* color */
    background-color: slategray;

    /* sizing */
    overflow: auto;
    clear: right;
}

#headshot > * {
    float: right;
    max-width: 250px;
    max-height: 250px;
    border: 2px solid darkslateblue;
}

#job {
    border: 2px solid black;
}

#contact {
    /* margin-left: 33%; */
    border: 2px solid black;
}
/* End of main information settings */


/* Other information settings */
div.other_information {
    /* color */
    /* border: 3px solid green; */
    /* background-color: skyblue; */

    /* sizing */
}
/* End of other information settings */